mixin header(header, subheading, isHompage)
	- isHompage = isHompage || true;
	header.intro-header(style= isHompage ? "background-image: url('external/clean-blog/img/home-bg.jpg')" : "")
		.container
			.row
				.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
					.site-heading
						h1= header
						hr.small
						span.subheading= subheading
