nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
	.container-fluid
		// Brand and toggle get grouped for better mobile display
		.navbar-header.page-scroll
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
				span.sr-only Toggle navigation
				span.icon-circle
				span.icon-circle
				span.icon-circle
			a.navbar-brand(href='/') Blog-IT
		// Collect the nav links, forms, and other content for toggling
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(href='/') Home
				if !user
					li
						a(href='post.html') Sign Up
					li
						a(href='/auth/login') Log In
				else
					li
						a(href='/auth/logout') Logout
