@import "../external/clean-blog/less/clean-blog.less";

.navbar-default {
	.navbar-toggle {
		.icon-circle {
			background-color: @gray;
			border-radius: 50%;
			display: block;
			float: left;
			height: 8px;
			margin-top: 3px;
			margin-bottom: 3px;
			width: 8px;
		}
		
		.icon-circle + .icon-circle {
			margin-left: 4px;
		}
	}
}
