@import "vars.less";
@import "mods.less";
@import "../external/clean-blog/less/clean-blog.less";

body {
	&>.container {
		margin-bottom: 50px;
	}
}
/*--- NAVBAR BUTTON ---*/
.navbar-default {
	.navbar-toggle {
		margin-top: 12px;
		margin-bottom: 12px;
		padding: 9px;
		
		.icon-circle {
			background-color: @gray;
			border-radius: 50%;
			display: block;
			float: left;
			height: 6px;
			width: 6px;
		}
		
		.icon-circle + .icon-circle {
			margin-left: 3px;
		}
	}
}
/*--- PAGE HEADER ---*/
.intro-header {
	&.overlayed {
			position: relative;
			
			&.blue {
				background-color: @blueLight;
			}
			
			&::before {
					content: "";
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: @grayTransparent;
			}
	}
}
/*--- PROFILE PANEL ---*/
.profile-panel {
	background-color: white;
	position: fixed;
	height: 100%;
	top: 0;
	right: 0;
	transform: translateX(100%);
	transition: transform @transitionNormal ease-in-out;
	width: 100%;
	z-index: 4;
	
	&.open {
		transform: none;
		
		&+.overlay {
			opacity: 1;
			cursor: pointer;
			pointer-events: auto;
		}
	}
	
	.close {
		position: absolute;
		top: @gap2x;
		left: @gap2x;
		z-index: 5;
	}
	
	.site-heading {
		padding: 40px 0 60px 0;
	}
}

.overlay {
	background-color: @grayTransparent;
	height: 100%;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transition: opacity @transitionSlow ease-in-out;
	width: 100%;
	z-index: 3;
}
/*--- BUTTONS ---*/
.btn {
	&.btn-social,
	&.btn-primary,
	&.btn-success,
	&.btn-danger {
		border-color: transparent;
		color: white;
		opacity: .9;
		
		&:hover {
			opacity: 1;
		}
	}
	
	&.btn-primary {
		background-color: @blue;
	}
	
	&.btn-success {
		background-color: @green;
	}
	
	&.btn-danger {
		background-color: @red;
	}
}
/*--- VALIDATION ERRORS ---*/
.floating-label-form-group {
	&.error {
		color: @redLight;
		border-color: @redLight !important;
		
		&::after {
			&:extend(.f-awesome);
			content: "\f06a";
			font-size: 1.75em;
			position: absolute;
			top: 50%;
			right: @gap;
			transform: translateY(-50%);
		}
		
		.form-control {
			padding-right: @gap2x;
		}
		
		.help-block {
			color: inherit;
		}
	}
}
/*--- HOME PAGE ---*/
.home-page {
	.greetings {
		font-size: 1.25em;
	}
	.search {
		.floating-label-form-group {
			&::after {
				&:extend(.f-awesome);
				color: @gray;
				content: "\f002";
				font-size: 2em;
				position: absolute;
				top: 50%;
				right: @gap;
				transform: translateY(-50%);
			}
			
			.form-control {
				padding-right: @gap2x;
			}
		}
	}
}

/*--- MEDIA QUERIES ---*/
@media only screen and (min-width: 768px) {
	/*--- PROFILE PANEL ---*/
	.profile-panel {
		width: 640px;
		
		.site-heading {
			padding: 80px 0;
		}
	}	
}
