@import "vars.less";
@import "mods.less";
@import "../external/clean-blog/less/clean-blog.less";

body {
	&>.container {
		margin-bottom: 50px;
	}
}
/*--- NAVBAR BUTTON ---*/
.navbar-default {
	.navbar-toggle {
		margin-top: 12px;
		margin-bottom: 12px;
		padding: 9px;
		
		.icon-circle {
			background-color: @gray;
			border-radius: 50%;
			display: block;
			float: left;
			height: 6px;
			width: 6px;
		}
		
		.icon-circle + .icon-circle {
			margin-left: 3px;
		}
	}
}
/*--- PAGE HEADER ---*/
.intro-header.overlayed {
    position: relative;

		&::before {
				content: "";
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.45);
		}
}
/*--- SOCIAL BUTTONS ---*/
.btn {
	&.btn-social {
		border-color: transparent;
		color: white;
		opacity: .9;
		
		&:hover {
			opacity: 1;
		}
	}
}
/*--- VALIDATION ERRORS ---*/
.floating-label-form-group {
	&.error {
		color: @red;
		border-color: @red !important;
		
		&::after {
			&:extend(.f-awesome);
			content: "\f06a";
			font-size: 1.75em;
			position: absolute;
			top: 50%;
			right: @gap;
			transform: translateY(-50%);
		}
		
		.form-control {
			padding-right: @gap2x;
		}
		
		.help-block {
			color: inherit;
		}
	}
}
