@gap: 15px;
@gap2x: 30px;

@red: #EF5350;
@redLight: #E57373;
@green: #43A047;
@greenLight: #81C784;
@blue: #2196F3;
@blueLight: #64B5F6;
@grayTransparent: rgba(0, 0, 0, 0.45);

@facebookBlue: #3b5998;
@googleRed: #DC4E41;

@transitionNormal: .2s;
@transitionSlow: .4s;
