doctype html
html(lang='en')
	head
		block variables

		include ./includes/mixins.jade
		
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		
		title= title
		
		block css
			link(rel='stylesheet', href='bundle/bundle.css')
			link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic')
			link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800)')
	body
		include ./includes/nav.jade
		
		block content
		
		hr
		
		include ./includes/footer.jade
		
		block js
			script(src='bundle/bundle.js')
